{% extends 'mi_estacionamiento/base_web.html' %}
{% load static %}
{% load svg %}
{% block content %}
{% load crispy_forms_tags %}

<head>
    <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/gotop.css' %}">
   
</head>

<body>
    <section id="sec1">
        <div class="contenedor-texto">

            {% if user.is_authenticated %}
                <h2>Bienvenido @{{ user.username }}</h2>
                <p>
                    Haz accedido a tu cuenta en "Mi Estacionamiento" <br>
                    ahora puedes ocupar nuestras funcionalidades. 
                    <br>
                    <br>                    
                </p>
                <a href="{% url 'logout' %}">Cerrar Sesion</a>
                <a href="{% url 'user-profile' %}">Mi Perfil</a>
            {% else %}
                <h2>Bienvenido!</h2>
                <p>
                    En "Mi Estacionamiento" puedes crear tu cuenta <br>
                    para poder acceder a nuestras funciones.
                </p>
		<a href="{% url 'register-user' %}">Registrate</a>
                <a href="{% url 'login' %}">Iniciar Sesion</a>
            {% endif %}
        </div>
        <img src="{% static 'svgs/welcome.svg' %}" alt="">
    </section>

    <section id="Register">       
            <div class="login-container">
            </div>
            
         
        <img src="{% static 'svgs/whoarewe.svg' %}" alt="">

    </section>

    <section id="Contact">
      <div class="login-container">
	<div class="login-info-container">
	  <h1 class="title">
	    Necesitas ayuda?
	  </h1>
	  <hr class="bg-danger">
	  <p class="pb-0 mb-0">
	    No dudes en contactarnos, responderemos lo mas pronto posible
	  </p>
	  <p class="text-danger small pt-0 nt-0">
	    *Todos los campos son obligatorios*
	  </p>
	  <form method="POST" class="inputs-container">
	    {% csrf_token %}

	      {{ contact_form }} 

	    {# <input type="submit" class="btn mt-3" value="Contactar"> #}
	  </form>
	  <input type="submit" class="btn" value="Contactar">
	</div>	
      </div>
      <img src="{% static 'svgs/contact_us.svg' %}" alt="">
    </section>

  
</body>

{% endblock %}
